/* HEADER */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  border: 1px solid rgb(247, 186, 36);
}

.logo-img {
  width: 150px;
  height: 100px;
}

.nav-items {
  padding: 10px;
}

.nav-items > ul {
  display: flex;
}

.nav-items > ul > li {
  padding: 20px;
  font-size: 20px;
  list-style-type: none;
}

.login-btn {
  padding: 0 15px;
  cursor: pointer;
}

/* SEARCH */

.search-container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* SEARCH */

.search-container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-box {
  width: 200px;
  height: 10px;
  padding: 10px;
  margin: 0 15px;
  border: 2px solid rgb(247, 186, 36);
  border-radius: 5px;
}

.search-btn {
  cursor: pointer;
  padding: 10px;
  background-color: rgb(250, 237, 204);
  border: 1px solid rgb(250, 237, 204);
  border-radius: 5px;
}

.search-btn:hover {
  border: 2px solid rgb(247, 186, 36);
  border-radius: 5px;
}

/* SHIMMER CONTAINER */
.shimmer-container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
}

/* SHIMMMER CARD */

.shimmer-card {
  width: 200px;
  height: 300px;
  padding: 5px;
  margin: 15px;
  background-color: #f0f0f0;
}

/* RESTAURANT CONTAINER */

.res-container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
}

/* RESTAURANT CARD */

.res-card {
  width: 200px;
  padding: 5px;
  margin: 15px;
  background-color: rgb(250, 237, 204);
}

.res-card:hover {
  border: 2px solid rgb(247, 186, 36);
  cursor: pointer;
}

.res-image {
  width: 100%;
  height: 150px;
}

/* ERROR */
.error {
  color: rgb(243, 57, 57);
  display: flex;
  justify-content: center;
}
